<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form class="modal-content animate" action="/index">
    <h1>Welcome Web Application</h1>
    <hr/>
    Hello World!<br/>

    <br/>

    <tr>
        <td colspan="2">
            <a href="/register">Register</a>

        </td>
    </tr>
</form>

</body>

</html>